body {
  background-image: url("/image/gradient-bg.png");
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Rubik, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 150%;
}

p {
  margin-bottom: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1272px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex.flex--space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.css {
  display: none;
}

.stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.stack.stack--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stack.stack--tight {
  grid-column-gap: 16px;
}

.button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  line-height: 140%;
  font-weight: 400;
}

.button.button--primary {
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 19px;
}

.button.button--primary:hover {
  background-color: #000;
  background-image: none;
}

.button.button--small {
  padding: 12px 20px;
  font-size: 13px;
}

.button.button--secondary {
  background-color: rgba(0, 0, 0, 0.1);
}

.button.button--secondary:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.section {
  padding-top: 200px;
}

.section.section--hero {
  padding-top: 15vh;
}

.section.section--tips {
  position: relative;
  z-index: 1;
  padding-top: 1000px;
}

.section.section--footer {
  background-image: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c6026139863650d3adf28f_footer-bg.png");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.section--subscriptions {
  z-index: -1;
}

.page-wrapper {
  padding-top: 128px;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.align-center {
  text-align: center;
}

.ts--heading-display {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Rifton Norm", sans-serif;
  font-size: 56px;
  line-height: 120%;
}

.rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 32px;
}

.ts--body-large {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 140%;
  font-weight: 400;
}

.gradient-text {
  background-image: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c4904a072d7e734d9f4a1b_gradient.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 80px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-2.2deg);
  -ms-transform: rotate(-2.2deg);
  transform: rotate(-2.2deg);
}

.marquee__track {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 32px;
}

.creators-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.creators {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-column-gap: 32px;
}

.creator {
  position: relative;
  width: 424px;
  padding: 32px 32px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 20px;
  background-color: #fff;
}

.creator__name {
  font-family: "Rifton Norm", sans-serif;
  font-size: 16px;
}

.ts--body-small {
  font-size: 15px;
  line-height: 140%;
}

.color--black-75 {
  color: rgba(0, 0, 0, 0.75);
}

.creator__pfp {
  position: absolute;
  left: auto;
  top: -32px;
  right: 32px;
  bottom: auto;
  overflow: hidden;
  width: 88px;
  height: 88px;
  border-style: solid;
  border-width: 6px;
  border-color: #fff;
  border-radius: 44px;
}

.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.creator__stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.creator__stats-text {
  font-size: 13px;
  line-height: 140%;
}

.creator__info {
  margin-bottom: 24px;
  padding-right: 120px;
}

.ts--heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Rifton Norm", sans-serif;
  font-size: 48px;
  line-height: 120%;
}

.ts--body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 140%;
  font-weight: 400;
}

.ts--heading-tag {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 32px;
  padding: 12px 16px;
  border-radius: 20px;
  background-image: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c4904a072d7e734d9f4a1b_gradient.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.subscriptions-block {
  position: relative;
  z-index: 0;
  height: 200vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.iphone-frame {
  position: relative;
}

.iphone-frame__image {
  position: relative;
  z-index: 0;
  width: 360px;
}

.iphone-frame__screen {
  position: absolute;
  left: 24px;
  top: 21px;
  right: 24px;
  bottom: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 16px;
  border-radius: 32px;
  background-color: #fff;
}

.post-card {
  width: 296px;
}

.post-card.post-card-absolute {
  position: absolute;
}

.post-card.post-card-absolute.card-1 {
  z-index: 4;
}

.post-card.post-card-absolute.card-2 {
  z-index: 3;
}

.post-card.post-card-absolute.card-3 {
  z-index: 2;
}

.post-card.post-card-absolute.card-4 {
  z-index: 1;
}

.iphone-frame-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 50vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.subscription-post-cards {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  padding-top: 704px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.post-card__blurred-image.top {
  position: relative;
  z-index: 2;
  opacity: 0;
}

.post-card__exposed-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
}

.subscription-sticky-text {
  position: -webkit-sticky;
  position: sticky;
  top: 124px;
  z-index: 1;
}

.confetti {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.confetti__lottie {
  position: absolute;
  z-index: 0;
  width: 150%;
}

.button__hover {
  position: absolute;
  left: -16px;
  top: 0px;
  right: -16px;
  bottom: 0px;
  z-index: 0;
  background-image: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c4904a072d7e734d9f4a1b_gradient.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button__hover.button__hover--light {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.button__text {
  position: relative;
  z-index: 1;
}

.button__hover-inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  background-image: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c4904a072d7e734d9f4a1b_gradient.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.tips-block {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: -1500px;
  padding-top: 1500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tips-block-post {
  position: absolute;
  width: 359px;
}

.tips-block-chat {
  position: absolute;
  z-index: 2;
}

.tips-block-chat.chat-1 {
  left: -360px;
  top: 0px;
}

.tips-block-chat.chat-2 {
  left: 380px;
  top: 160px;
}

.tips-block-chat.chat-3 {
  left: -360px;
  top: 366px;
}

.tips-block-chats {
  position: absolute;
  z-index: 2;
  width: 360px;
  height: 470px;
}

.tips-block-lottie {
  position: absolute;
  left: 58px;
  top: 24px;
  z-index: 1;
  width: 500px;
}

.tips-block-confetti {
  position: absolute;
  left: 194px;
  top: 320px;
  z-index: 0;
  width: 200px;
}

.tips-block-button-trigger {
  position: absolute;
  left: 253px;
  top: 397px;
  z-index: 3;
  width: 90px;
  height: 50px;
  cursor: pointer;
}

.break-on-desktop {
  display: block;
}

.stats-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stats-block-phone {
  width: 360px;
}

.stats-block-background {
  position: absolute;
  bottom: 64px;
  z-index: -1;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.stats-block-bubbles {
  position: absolute;
  width: 360px;
  height: 715px;
}

.stat-block-bubble {
  position: absolute;
  max-width: none;
}

.stat-block-bubble.bubble-1 {
  left: -428px;
  top: 13px;
  width: 557px;
}

.stat-block-bubble.bubble-2 {
  left: 228px;
  top: 361px;
  width: 557px;
}

.creators-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.creators-block-wrapper-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 8px;
  -webkit-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.creators-block-row {
  height: 168px;
  max-width: none;
}

.creators-block-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 448px;
  height: 488px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 8px;
  border-top-left-radius: 224px;
  border-top-right-radius: 224px;
  background-color: #000;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.creators-block-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#000),
    to(transparent)
  );
  background-image: linear-gradient(0deg, #000, transparent);
}

.creators-block-marquee {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.creators-marquee-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 48px;
  font-family: "Rifton Norm", sans-serif;
  color: rgba(0, 0, 0, 0.25);
  font-size: 48px;
  line-height: 200%;
  white-space: nowrap;
}

.creators-marquee-track.track-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.marquee-track-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 48px;
}

.overflow-hidden {
  overflow: hidden;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  display: block;
}

.text-block {
  font-size: 14px;
  text-decoration: none;
}

.heading {
  font-size: 20px;
  text-align: center;
}

.heading-2 {
  font-size: 20px;
  text-align: center;
}

.text-block-2 {
  font-size: 14px;
}

.text-block-copy {
  font-size: 14px;
}

.text-block-3 {
  text-align: center;
}

.text-block-4 {
  text-align: center;
}

.italic-text {
  font-size: 14px;
}

.bold-text {
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.text-span {
  text-decoration: underline;
}

.bold-text-2 {
  font-size: 15px;
}

.text-span-2 {
  font-size: 15px;
  text-decoration: underline;
}

.text-span-3 {
  font-size: 15px;
  text-decoration: underline;
}

.text-span-4 {
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
}

.text-span-5 {
  font-size: 15px;
  text-decoration: underline;
}

.text-span-6 {
  font-size: 15px;
}

.text-span-7 {
  font-size: 15px;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  .navbar {
    padding-top: 24px;
  }

  .section {
    padding-top: 128px;
  }

  .section.section--subscriptions {
    padding-top: 48px;
  }

  .page-wrapper {
    padding-top: 88px;
  }

  .ts--heading-display {
    font-size: 44px;
  }

  .rows {
    grid-row-gap: 24px;
  }

  .qr-code {
    display: none;
  }

  .ts--heading {
    font-size: 36px;
  }

  .subscription-sticky-text {
    top: 200px;
  }

  .tips-block__background {
    width: 82%;
  }

  .tips-block-chat.chat-1 {
    left: -171px;
    width: 180px;
  }

  .tips-block-chat.chat-2 {
    left: 350px;
    width: 180px;
  }

  .tips-block-chat.chat-3 {
    left: -171px;
    top: 280px;
    width: 180px;
  }

  .break-on-desktop {
    display: inline;
  }

  .stats-block {
    padding-top: 64px;
  }

  .stat-block-bubble.bubble-1 {
    left: -235px;
    top: 395px;
    width: 370px;
  }

  .stat-block-bubble.bubble-2 {
    left: 191px;
    width: 410px;
  }

  .faq-block {
    padding-top: 64px;
  }

  .accordion:hover {
    background-color: #fff;
  }

  .accordion__icon {
    width: 16px;
    height: 20px;
  }

  .accordion__body-inner {
    padding-top: 12px;
  }

  .footer {
    grid-column-gap: 24px;
    font-size: 12px;
  }

  .qr-scan-cta {
    display: none;
  }

  .break-on-tablet {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 17px;
    line-height: 140%;
  }

  .section {
    padding-top: 96px;
  }

  .grid {
    display: block;
  }

  .ts--heading-display {
    font-size: 32px;
  }

  .ts--body-large {
    font-size: 22px;
  }

  .creators {
    grid-column-gap: 16px;
  }

  .creator {
    padding: 16px;
  }

  .ts--heading {
    font-size: 30px;
  }

  .ts--body {
    font-size: 17px;
  }

  .subscription-sticky-text {
    top: 112px;
  }

  .tips-block {
    padding-top: 1550px;
  }

  .break-on-tablet {
    display: inline;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 15px;
  }

  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    font-size: 14px;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .logo {
    width: 48px;
  }

  .stack.stack--horizontal {
    grid-column-gap: 16px;
  }

  .button {
    padding: 12px 20px;
  }

  .button.button--primary {
    padding-right: 32px;
    padding-left: 32px;
  }

  .section {
    padding-top: 64px;
  }

  .section.section--tips {
    padding-top: 500px;
  }

  .section.section--footer {
    overflow: hidden;
    width: 100vw;
  }

  .ts--heading-display {
    font-size: 28px;
  }

  .ts--body-large {
    font-size: 20px;
  }

  .creator {
    width: 380px;
  }

  .creator__name {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .ts--body-small {
    font-size: 13px;
  }

  .creator__pfp {
    right: 16px;
  }

  .creator__info {
    margin-bottom: 16px;
    padding-right: 100px;
  }

  .ts--heading {
    font-size: 18px;
  }

  .ts--body {
    font-size: 15px;
  }

  .subscriptions-block {
    height: 100vh;
  }

  .iphone-frame__image {
    width: 340px;
  }

  .iphone-frame__screen {
    left: 22px;
    top: 20px;
    right: 22px;
  }

  .post-card.scrolling {
    width: 276px;
  }

  .subscription-post-cards {
    display: none;
  }

  .tips-block {
    padding-top: 1570px;
    padding-bottom: 40px;
  }

  .tips-block-post {
    width: 300px;
  }

  .tips-block-chat.chat-1 {
    left: -96px;
    top: 101px;
  }

  .tips-block-chat.chat-2 {
    left: 204px;
  }

  .tips-block-chat.chat-3 {
    left: -51px;
    top: 232px;
  }

  .tips-block-chats {
    width: 300px;
  }

  .tips-block-lottie {
    left: 58px;
    top: 76px;
    width: 400px;
  }

  .tips-block-confetti {
    left: 148px;
    top: 294px;
  }

  .tips-block-button-trigger {
    left: 214px;
    top: 374px;
    width: 73px;
    height: 40px;
  }

  .stats-block {
    padding-top: 32px;
  }

  .faq-block {
    padding-top: 32px;
  }

  .accordion {
    padding: 16px;
  }

  .accordion__title.flex.flex--space-between {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 24px;
  }

  .creators-block {
    width: 100%;
    padding-top: 64px;
  }

  .creators-block-row {
    height: 100px;
  }

  .creators-block-wrapper {
    height: 300px;
    max-width: 88%;
  }

  .creators-block-marquee {
    padding-bottom: 32px;
  }

  .creators-marquee-track {
    font-size: 28px;
  }

  .marquee-track-inner.track-1 {
    grid-column-gap: 32px;
  }

  .footer {
    overflow: scroll;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 14px;
    white-space: nowrap;
  }

  .break-on-mobile-s {
    display: block;
  }
}

/* #w-node-_699b249d-70e9-8eff-6a72-79fc1425872b-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-f5a5ce2c-3577-8202-6fdc-fa83f4ade381-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-eddae96c-8216-753e-f2e8-e18fe790dd5b-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-eddae96c-8216-753e-f2e8-e18fe790dd60-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_3643ac97-d7e5-5e48-da33-d9065bc1c0fd-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_3643ac97-d7e5-5e48-da33-d9065bc1c104-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_7bd426c7-0199-bb03-b15a-ce377fe357ef-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_7bd426c7-0199-bb03-b15a-ce377fe357f6-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-dbb59368-7733-9d40-6a0e-54cfc5fc8402-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-aedcd0a1-0f3c-c586-afdc-f8972c531214-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_764d2423-8ace-491b-fa59-3309d70ee768-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-eeacbfcc-3fef-fd3e-172f-499829ca1149-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_2e217109-34e7-7904-34f6-fa5e2d126878-e6604ef6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  #w-node-_64a3741f-a76b-ca0c-ce77-e4253c13f8fd-e6604ef6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  
  @media screen and (max-width: 991px) {
    #w-node-_699b249d-70e9-8eff-6a72-79fc1425872b-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-f5a5ce2c-3577-8202-6fdc-fa83f4ade381-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-eddae96c-8216-753e-f2e8-e18fe790dd5b-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-eddae96c-8216-753e-f2e8-e18fe790dd60-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_3643ac97-d7e5-5e48-da33-d9065bc1c0fd-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_3643ac97-d7e5-5e48-da33-d9065bc1c104-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_7bd426c7-0199-bb03-b15a-ce377fe357ef-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_7bd426c7-0199-bb03-b15a-ce377fe357f6-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-dbb59368-7733-9d40-6a0e-54cfc5fc8402-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-aedcd0a1-0f3c-c586-afdc-f8972c531214-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_764d2423-8ace-491b-fa59-3309d70ee768-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-eeacbfcc-3fef-fd3e-172f-499829ca1149-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_2e217109-34e7-7904-34f6-fa5e2d126878-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  
    #w-node-_64a3741f-a76b-ca0c-ce77-e4253c13f8fd-e6604ef6 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 12;
      grid-column-end: 13;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  }
  
  @media screen and (max-width: 767px) {
    #w-node-_3643ac97-d7e5-5e48-da33-d9065bc1c104-e6604ef6 {
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-column-span: 10;
      grid-column-end: 12;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: 2;
    }
  } */
/* @font-face {
    font-family: "Rifton Norm";
    src: url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c48f4ff618c207d7791a44_Rifton-Norm.woff")
        format("woff"),
      url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c48f4f9cc5959ee7dd4a75_Rifton-Norm.otf")
        format("opentype"),
      url("https://uploads-ssl.webflow.com/62c48d78ef34931f8a604ef5/62c48f4f9cc5959ee7dd4a75_Rifton-Norm.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  } */
